@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$card-max-width: functions.to-rem(920px);
$visible-screen-width: 100vw;
$half-visible-screen-width: 50vw;

.cardContainer {
  box-shadow: 0 10px 50px -25px colors.$grey-500;
  border-radius: spaces.$radius-25px spaces.$radius-25px 0 0;
  background-color: colors.$white;
  padding: spaces.$space-32px spaces.$space-24px;
  display: flex;
  flex-direction: column;
  width: $visible-screen-width;
  max-width: $card-max-width;
  row-gap: spaces.$space-32px;

  @include screens.tablet-and-up{
    border-radius: spaces.$radius-25px;
    padding: spaces.$space-24px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0, $half-visible-screen-width));
    column-gap: spaces.$space-12px;
  }
}
