.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.priceContainerSection {
  display: flex;
  flex-direction: column;
}