@use '../../../styles/colors';
@use '../../../styles/fonts';

.priceSectionDivisorLabel {
  width: 100%;
  display: inline-block;
  text-align: left;
  color: colors.$grey-400;

  @include fonts.text-preset-5;
}

