@use 'functions';

$space-4px: functions.to-rem(4px);
$space-6px: functions.to-rem(6px);
$space-8px: functions.to-rem(8px);
$space-12px: functions.to-rem(12px);
$space-16px: functions.to-rem(16px);
$space-20px: functions.to-rem(20px);
$space-24px: functions.to-rem(24px);
$space-32px: functions.to-rem(32px);
$space-40px: functions.to-rem(40px);
$space-80px: functions.to-rem(80px);

$radius-5px: functions.to-rem(5px);
$radius-15px: functions.to-rem(15px);
$radius-25px: functions.to-rem(25px);
