@use 'functions';

$space-4px: functions.to-rem(4px);
$space-6px: functions.to-rem(6px);
$space-8px: functions.to-rem(8px);
$space-12px: functions.to-rem(12px);
$space-16px: functions.to-rem(16px);

$radius-5px: functions.to-rem(5px);