@use 'colors';
@use 'fonts';
@use 'functions';
@use 'screens';
@use 'spaces';

$app-icon-width: functions.to-rem(90px);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: colors.$grey-200;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  opacity: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: spaces.$space-40px;

  @include screens.tablet-and-up{
    row-gap: spaces.$space-80px;
  }
}

.appIcon {
  width: $app-icon-width;
}

.attribution {
  margin-top: spaces.$space-12px;
  text-align: center;
  color: colors.$green-900;

  @include fonts.text-preset-5;
}

.attribution a {
  color: colors.$attribution;
}