@use '../../../styles/colors';
@use '../../../styles/fonts';

.priceLabel {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  text-align: right;
  color: colors.$green-400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-1;
}
