@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$border-thickness: functions.to-rem(2px);
$transition-duration: 0.2s;

.input {
  border: $border-thickness solid colors.$grey-50;
  border-radius: spaces.$radius-5px;
  background-color: colors.$grey-50;
  padding: spaces.$space-4px spaces.$space-12px;
  width: 100%;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  color: colors.$grey-200;
  transition: border $transition-duration ease;

  @include fonts.text-preset-2;

  @include screens.tablet-and-up{
    padding: spaces.$space-4px spaces.$space-16px;
  }
}
.input:hover {
  border: $border-thickness solid colors.$green-400;
}
.input:focus, .input:focus-visible {
  border: $border-thickness solid colors.$green-900;
  outline: none;
}
.input::placeholder {
  color: colors.$grey-500;
}
.input.error {
  border: $border-thickness solid colors.$red;
}
.input.error:hover {
  border: $border-thickness solid colors.$red;
}
.input.error:focus, .input.error:focus-visible {
  border: $border-thickness solid colors.$red;
  outline: none;
}
