@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

.input {
  border: functions.to-rem(2px) solid colors.$grey-50;
  border-radius: spaces.$radius-5px;
  background-color: colors.$grey-50;
  padding: spaces.$space-4px spaces.$space-16px;
  width: 100%;
  font-weight: bold;
  text-align: right;
  color: colors.$grey-200;
  transition: border 0.2s ease;

  @include fonts.text-preset-2;
}
.input:hover {
  border: functions.to-rem(2px) solid colors.$green-400;
}
.input:focus, .input:focus-visible {
  border: functions.to-rem(2px) solid colors.$green-900;
  outline: none;
}
.input::placeholder {
  color: colors.$grey-500;
}
.input.error {
  border: functions.to-rem(2px) solid colors.$red;
}
.input.error:hover {
  border: functions.to-rem(2px) solid colors.$green-400;
}
.input.error:focus, .input.error:focus-visible {
  border: functions.to-rem(2px) solid colors.$green-900;
  outline: none;
}
