@use '../../../styles/functions';
@use '../../../styles/spaces';

.billContainer {
  display: flex;
  flex-direction: column;
}

.billContainerInput {
  position: relative;
}

.billContainerInputIcon {
  position: absolute;
  left: spaces.$space-16px;
  top: 50%;
  transform: translateY(-50%);
}