@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

.button {
  padding: spaces.$space-8px spaces.$space-16px ;
  width: 100%;
  border-radius: spaces.$radius-5px;
  background-color: colors.$green-400;
  text-transform: uppercase;
  color: colors.$green-900;
  transition:
          border 0.2s ease,
          background-color 0.2s ease;

  @include fonts.text-preset-3;
}
.button:hover {
  border: functions.to-rem(1px) solid colors.$green-200;
  background-color: colors.$green-200;
  outline: none;
  box-shadow: none;
}
.button:focus {
  border: functions.to-rem(1px) solid colors.$green-200;
  background-color: colors.$green-200;
  outline: none;
  box-shadow: none;
}
.button:focus-visible {
  border: functions.to-rem(1px) solid colors.$white;
  background-color: colors.$green-200;
  outline: none;
  box-shadow: none;
}

.button.disabled {
  border: functions.to-rem(1px) solid colors.$green-600;
  background-color: colors.$green-600;
  cursor: not-allowed;
}