@use '../../../styles/functions';
@use '../../../styles/spaces';

.peopleContainer {
  display: flex;
  flex-direction: column;
}

.peopleContainerInput {
  position: relative;
}

.peopleContainerInputIcon {
  position: absolute;
  left: spaces.$space-16px;
  top: 50%;
  transform: translateY(-50%);
}